/* mac keyboard */
/* https://farm7.staticflickr.com/6188/6103363633_d00625307e_z.jpg */
/*tokyo sushi shop  */
/* https://farm3.staticflickr.com/2852/11081095633_2c4ab0c9b0_z.jpg */
/* sushi roll */
/* https://farm1.staticflickr.com/58/205664787_82ce1ef398_z.jpg */
/* amazon box danbo/sprite  */
/* https://farm9.staticflickr.com/8531/8493641623_5efb926d54_z.jpg */
/* sunset with ships */
/* https://farm8.staticflickr.com/7099/7301128314_0bdf72a4cd_z.jpg */
/* spoon steering wheel */
/* https://farm9.staticflickr.com/8306/8015300016_614986ece2_z.jpg */
/* matrix room */
/* https://farm4.staticflickr.com/3198/3280152297_25f8dc6179_z.jpg */
/* japan nuke graffitti wall */
/* https://farm6.staticflickr.com/5258/5529163015_64e610e2e3_z.jpg */
/* arc linux */
/* https://farm6.staticflickr.com/5495/9268108811_67fd7a5a60_z.jpg */

img {

    width: 30%;
    float: left;
    margin: 1.6%;

}